@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a7a7a7;
  --foreground: #1b1b1b;

  --white-full: #fff;
  --white-darker: #a7a7a7;
  --black: #1b1b1b;
  --black-full: #0d0d0d;
  --light-blue: #79d7fd;
  --sky-blue: #00bbfa;
  --blue: #001736;
  --blue-dark: #00183e;
  --gold: #ffc54a;
  --red: red;
}

* {
  @apply transition-colors duration-200;
}

html,
* {
  /* cursor: none; */
}

body {
  font-family: var(--font-inconsolata), sans-serif, Arial, Helvetica;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
  color: black;
}

.shadow-test {
  /* 0,_187,_250 */
  /* box-shadow: 0px 1px 40px 1px rgba(0, 187, 250, 0.5); */
  /* box-shadow: 0px -25px 20px -20px rgba(0, 187, 250, 0.45),
    25px 0 20px -20px rgba(0, 187, 250, 0.45),
    0px 25px 20px -20px rgba(0, 187, 250, 0.45),
    -25px 0 20px -20px rgba(0, 187, 250, 0.45); */
  /* box-shadow: 0 26px 58px 0 rgba(0, 187, 250, 0.22),
    0 5px 14px 0 rgba(0, 187, 250, 0.18); */
}

/* @layer utilities {
  .shadow {
    @apply border border-white/20;
  }
} */

.gradient-overlay--bg {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse closest-side,
    rgba(0, 0, 0, 0.3),
    #131313c9 /* Cambiar a blanco con opacidad completa */
  );
  /* transition: background 3s ease;  */
  /* Transición suave del color de fondo */
}

/* PROJECTS CSS */
.organization {
  color: var(--sky-blue);
  text-decoration: underline;
}

.important {
  color: var(--red);
}

.list-style {
  list-style: disc;
  list-style-position: inside;
}

.list-style-second {
  list-style: square;
  list-style-position: inside;
  padding-left: 24px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.unordened-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-unordened-list-container {
  padding-bottom: 16px;
}
