@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a7a7a7;
  --foreground: #1b1b1b;
}

* {
  @apply transition-colors duration-200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inconsolata), sans-serif, Arial, Helvetica;
}
